:root {
  --main-color: #ff4d44;
  --main-color-light: #ffeae6;
  --text-color: #000000;
  --text-alt-color: #706f7b;
  --bg-color: #f8f8f8;
  --main-color-shadow: 0px 10px 15px 0px rgba(255, 83, 48, 0.35);
  --main-color-shadow-hover: 0px 10px 15px 0px rgba(255, 83, 48, 0.55);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Kumbh Sans", sans-serif;
}

/* NAVBAR */

.navbar {
  background: var(--bg-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  top: 0;
  /* padding-top: 3rem; */
  /* padding-bottom: 3rem; */
  /* z-index: ; */
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  cursor: pointer;
  width: 100%;
  max-width: 1536px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navbar__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 800;
  font-size: 1.5rem;
}

#navbar__icon {
  font-size: 4rem;
  color: var(--main-color);
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  font-weight: 800;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 100%;
  padding: 0 1rem;
  color: var(--text-color);
}

.navbar__links:hover {
  color: var(--main-color);
}

.navbar__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 0 1rem;
  gap: 2.5rem;
  font-weight: 800;
}

.navbar__buttons a {
  text-decoration: none;
  /* color: var(--text-color); */
}

.navbar__button__sign-in {
  color: var(--text-color);
}

.navbar__button__sign-in:hover {
  color: var(--main-color);
}

.navbar__button__register {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 3px;
  padding: 1rem 2rem;
  /* box-shadow: 0px 10px 15px 0px rgba(255, 83, 48, 0.35); */
  box-shadow: var(--main-color-shadow);
}

.navbar__button__register:hover {
  /* box-shadow: 0px 10px 15px 0px rgba(255, 83, 48, 0.55); */
  box-shadow: var(--main-color-shadow-hover);
}

/* HOME / HERO  */

.hero__section {
  background-color: var(--bg-color);
  width: 100%;
  height: 90vh;
  /* position: relative; */
  /* padding-top: 5rem; */
}

.hero__content__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
}

.hero__content {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  /* height: 100vh; */
  gap: 5rem;
}

.hero__content__text {
  display: flex;
  flex-direction: column;
  /* padding-right: 50rem; */
  /* max-width: 50rem; */
}

.hero__content__text h4 {
  font-size: 2rem;
}

.hero__content__text h1 {
  font-size: 4rem;
  padding-top: 1rem;
}

.hero__content__text h1 span {
  color: var(--main-color);
}

.hero__content__text p {
  color: var(--text-alt-color);
  padding-top: 2rem;
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.hero__content__buttons {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
}

.hero__content__buttons a {
  display: flex;
  color: #fff;
  align-items: center;
  font-weight: 500;
  text-decoration: none;
}

.hero__content__buttons__rent-now {
  padding: 2rem 2rem;
  background: var(--main-color);
  border-radius: 0.3rem;
  box-shadow: var(--main-color-shadow);
}

.hero__content__buttons__rent-now:hover {
  box-shadow: var(--main-color-shadow-hover);
}

.hero__content__buttons__learn-more {
  padding: 2rem 2rem;
  background: black;
  border-radius: 0.3rem;
}

.hero__content__buttons__learn-more > svg {
  color: var(--bg-color);
}

.hero__content__buttons__learn-more:hover {
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.hero__content__hero-img {
  margin-top: 5rem;
  width: 65%;
  border-radius: 20px;
}

/* VEHICLE */

.vehicle__section {
  width: 100%;
  background: #fff;
  /* background-color: hotpink; */
  padding-top: 3rem;
  height: 97vh;
  /* margin-top: 6rem; */
}

.vehicle__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* background-color: aquamarine; */
}

.vehicle__container__title {
  margin: 0 auto 5rem;
  width: 100%;
  text-align: center;
}

.vehicle__container__title h4 {
  font-size: 2rem;
}

.vehicle__container__title h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.vehicle__container__title p {
  font-size: 1.3rem;
  color: var(--text-alt-color);
}

.vehicle__container__car {
  /* background: hotpink; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vehicle__container__car-select {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 0.1rem;
  transform: all 0.3s;
  /* margin-right: 2.5rem; */
  /* background: coral; */
}

.vehicle__container__car-select button {
  background-color: #d0cdcd;
  border-radius: 0.3rem;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: left;
  width: 100%;
  width: 19rem;
  font-weight: 600;
  transition: all 0.3s;
}

.vehicle__container__car-select button:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.vehicle__container__car-select button:focus {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.vehicle__container__car-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* justify-content: space-between; */
}

.vehicle__container__car-img {
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  /* height: 500px; */
  width: 600px;
  transform: translateX(25%);
}

.vehicle__container__car-img img {
  /* padding: 1rem; */
  width: 100%;
  height: 300px;
  border-radius: 0.3rem;
  object-fit: cover;
  /* object-position: center; */
  /* margin-right: 15rem; */
}

.vehicle__container__car-desc {
  /* background-color: darkolivegreen; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;
  width: 20rem;
}

.vehicle__container__car-desc__price {
  align-items: center;
  font-size: 1.5rem;
  color: var(--bg-color);
  background: var(--text-color);
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  border-radius: 0.3rem;
}

.vehicle__container__car-desc__table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  /* grid-template-rows: auto; */
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}

.vehicle__container__car-desc__table__col {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1.5rem;
  border: 1px solid black;
}

.vehicle__container__car-desc__table__col i {
  padding-right: 1rem;
}

.vehicle__container__car-desc__reserve-now {
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 0.3rem;
  padding: 1rem;
  text-decoration: none;
  margin-top: 1.4rem;
  box-shadow: var(--main-color-shadow);
}

.vehicle__container__car-desc__reserve-now:hover {
  box-shadow: var(--main-color-shadow-hover);
}

/* BOOKING  */

.booking__section {
  background-color: var(--bg-color);
  width: 100%;
  height: 70vh;
}

.booking__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 5rem;
  background: aquamarine;
  padding: 1rem;
}

.booking__content {
  display: flex;
  width: 100%;
  position: relative;
  background: chocolate;
  padding: 1rem;
}

.booking__content__box {
  background: hotpink;
  width: 100%;
  padding: 5rem;
}

.booking__content__box h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.booking__content__box__error {
  display: none;
  font-size: 1.2rem;
  background: #f8d7da;
  padding: 1rem 1.4rem;
  border-radius: 0.5rem;
}

.booking__content__box__confirm {
  display: none;
  font-size: 1.2rem;
  background: rgba(46, 179, 34, 0.9);
  padding: 1rem 1.4rem;
  border-radius: 0.5rem;
}

.booking__content__form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  /* justify-content: space-around; */
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  background: orange;
}

.booking__content__form__car {
  display: flex;
  flex-direction: column;
}

.booking__content__form__car label {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.booking__content__form__car i {
  padding-right: 0.5rem;
}

.booking__content__form__car label::after {
  content: " *";
  color: rgba(255, 0, 0);
}

.booking__content__form__car select {
  color: var(--text-alt-color);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.2rem;
}

.booking__content__form__date {
  display: flex;
  flex-direction: column;
}

.booking__content__form__date label {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.booking__content__form__date i {
  padding-right: 0.5rem;
}

.booking__content__form__date label::after {
  content: " *";
  color: rgba(255, 0, 0);
}

.booking__content__form__date input {
  color: var(--text-alt-color);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--text-alt-color);
}

.booking__content__form button {
  color: white;
  background: var(--main-color);
  border: none;
  border-radius: 0.2rem;
  font-weight: 500;
  font-size: 1.5rem;
  /* margin-top: 4rem; */
  align-self: self-end;
  /* height: fit-content; */
  padding: 0.8rem;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: var(--main-color-shadow);
}

.booking__content__box button:hover {
  box-shadow: var(--main-color-shadow-hover);
}

/* BOOKING MODAL */

.booking__section {
  width: 100%;
  height: 90vh;
}

.booking__modal {
  top: 50%;
  left: 0;
  /* translate: -50% -50%; */
}

.booking__modal::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.booking__modal__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  width: 100%;
  /* margin-left: 1rem; */
}

.booking__modal__container__title {
  text-align: center;
  color: var(--bg-color);
  width: 100%;
  text-transform: uppercase;
  font-size: 1rem;
  background: var(--main-color);
  padding: 1rem;
}

.booking__modal__container__message {
  /* font-size: 1rem; */
  background: var(--main-color-light);
  padding: 1rem 3rem;
}

.booking__modal__container__message h4 {
  font-size: 1.2rem;
  color: var(--main-color);
}

.booking__modal__container__message i {
  padding-right: 0.5rem;
}

.booking__modal__container__message p {
  font-size: 1.2rem;
  color: var(--text-alt-color);
  padding-top: 1rem;
}

.booking__modal__container__car {
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 1fr 1fr;
}

.booking__modal__container__car__info__dates {
  width: 100%;
}

.booking__modal__container__car__info__dates i {
  background: aqua;
  padding-right: 0.5rem;
}
